* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    body {
      font-family: 'Inter', sans-serif;
      background: #150b1d;
      color: white;
      line-height: 1.6;
      opacity: 0;
      transition: opacity 1s ease-in-out;
    }
    body.loaded {
        opacity: 1;
    }
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 40px;
      background: #1b0d25;
      border-bottom: 1px solid #222;
    }
    .logo {
      font-weight: 700;
      font-size: 20px;
      display: flex;
      align-items: center;
    }
    .logo span {
      margin-left: 8px;
    }
    nav a {
      margin: 0 15px;
      text-decoration: none;
      color: #ccc;
      font-weight: 500;
      transition: transform 0.2s ease, color 0.2s ease;
      display: inline-block;
    }
    nav a:hover {
      color: #fff;
      transform: scale(1.1);
    }
    .cta-button {
      background: #9b59b6;
      padding: 10px 20px;
      border: none;
      border-radius: 6px;
      color: white;
      font-weight: 600;
      cursor: pointer;
      text-decoration: none;
      transition: transform 0.2s ease;
      display: inline-block;
      box-shadow: 0 0 20px #cc01ff80;

    }
    .cta-button:hover {
      transform: scale(1.1);
    }
    .hero {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 80px 40px;
      background: radial-gradient(circle at top left, #2d0d3a, #0d0f1b);
    }
    .hero-text {
      max-width: 600px;
    }
    .hero h1 {
      font-size: 48px;
      font-weight: 700;
    }
    .hero h1 span {
      color: #9b59b6;
    }
    .hero p {
      margin-top: 20px;
      color: #aaa;
      max-width: 500px;
    }
    .hero-buttons {
      margin-top: 30px;
    }
    .hero-buttons a {
      margin-right: 15px;
      padding: 12px 18px;
      border-radius: 6px;
      font-weight: 600;
      text-decoration: none;
      display: inline-block;
      transition: transform 0.2s ease;
    }
    .hero-buttons a:hover {
      transform: scale(1.1);
    }
    .primary-btn {
      background-color: #9b59b6;
      color: white;
      box-shadow: 0 0 20px #cc01ff80;

    }
    .secondary-btn {
      border: 1px solid #9b59b6;
      color: #9b59b6;
      
    }
    .ter-btn {
      background-color:#8654bb;
      color: #ffffff;
      
    }
    .video-placeholder {
      width: 480px;
      height: 270px;
      border-radius: 10px;
    }
    .features {
      padding: 60px 40px;
      text-align: center;
      background: #150b1d;
    }
    .features h2 {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .features h2 span {
      color: #9b59b6;
    }
    .features p {
      color: #aaa;
      margin-bottom: 40px;
    }